<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <div container="container-fluid">
        <div class="main-body">

            <div class="row-gutter-xl">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <agm-map [latitude]="lat" [longitude]="lng">
                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                              </agm-map>

                            <app-tournament></app-tournament>
                             
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    
</body>
</html>