<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="chat-popup " style="float: left;  " id="myForm">
        <!-- <style type="text/css">
            .chat-popup {
            width: 20%;
      
            position: fixed;
            color: black;
      
            z-index: 2;
            }
         </style>    -->
        <form action="/action_page.php" class="form-container">
          <h1>Chat</h1>
      
          <label for="msg"><b>Message</b></label>
          <div class="container">
            <img src="/assets/images/shiba.jpg" alt="Avatar">
            <p>Hello. How are you today?</p>
            <span class="time-right">11:00</span>
          </div>
          
          <div class="container darker">
            <img src="/assets/images/shiba.jpg" alt="Avatar" class="right">
            <p>Hey! I'm fine. Thanks for asking!</p>
            <span class="time-left">11:01</span>
          </div>
          
          <div class="container">
            <img src="/assets/images/shiba.jpg" alt="Avatar">
            <p>Sweet! So, what do you wanna do today?</p>
            <span class="time-right">11:02</span>
          </div>
          
          <div class="container darker">
            <img src="/assets/images/shiba.jpg" alt="Avatar" class="right">
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-left">11:05</span>
          </div>

        </form>
      </div>
</body>
</html>