
  
<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script><body>
  <div
    class="py-5"
    style="
      background-image: url('assets/images/navcim.jpg');
      margin-bottom: 15px;
    "
  >
    <div
      class="card"
      style="
        width: 76rem;
        background-color: rgba(245, 245, 245, 0.4);
        opacity: 1;
        margin-left: 0rem;
        margin-top: 5rem;
      "
    >
      <div class="card-header" style="font: bold; font-size: 2rem">
        BİZ KİMİZ
      </div>
      <ul
        class="list-group list-group-flush"
        style="
          width: 30rem;
          margin-left: 5rem;
          margin-top: 15px;
          margin-bottom: 15px;
        "
      >
        <div>
          <img
            style="margin-top: 1cm; margin-bottom: 1cm"
            src="assets/images/about.jpg"
            class="d-block w-100"
            alt="..."
          />

          <div *ngFor="let about of about">
            <div class="container" style="margin-top: 1cm; margin-bottom: 1cm">
              <h2>{{ about.text1 }}</h2>
              <hr />
              <h2>{{ about.text2 }}</h2>
            </div>
          </div> 
        </div>
      </ul>
    </div>
  </div>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6db590adcf3692d2',m:'FwnZi5vlmbapYXHuGsq06V5wRfdMvLWAO1sj6rqc1Rk-1644498495-0-AXwCJyRO6HNpqNrOukMK3S1dc8pAc7s9BHSfnxyJmAhbdu21sjG/IoP9/vOydSJp5Qe4yC5YEsMJVo/CqE1Kn31hta+6/fHXNp72GJD7N/aaNfOYYeMUGdhSt5C0H9kXt/a4mfFCtF3MRBMociEVJo3/i/OP8R2lFgk/V/0wrxZfMqXp4EWN2yRsEftK+A0vDqrGCC7Iy2atVfotjqGxn5Y=',s:[0xba569cac46,0x6225f4c9fd],}})();</script></body>
