body {
  
    background-size: cover;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }
  
  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 285px;
    margin: -140px 0 0 -182px;
    padding: 40px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
   
  }
  

  
