<div class="container-fluid">
    <div class="main-body">
      <div class="row-gutters-sm">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                  <label id="name111" class="form-label">Ad</label>
                  <input type="text" class="form-control" id="name1" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                  <label id="lastname222" class="form-label">Soyad</label>
                  <input type="text" class="form-control" id="soyad2" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                  <label id="validation" class="form-label">Kullanıcı Adı</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="nickNa21awe">@</span>
                    <input type="text" class="form-control" id="nickName2"
                      aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                      Please choose a username.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">E-mail</label>
                  <input type="text" class="form-control" id="email" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">Şifre</label>
                  <input type="text" class="form-control" id="password" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">Telefon Numaranız</label>
                  <input type="text" class="form-control" id="tel" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
  
                
                
                
                <div class="col-md-2">
                  <label for="validationCustom01" class="form-label">Şehir</label>
                  <input type="text" class="form-control" id="city" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-2">
                  <label for="validationCustom01" class="form-label">Şehir Plaka Kodu</label>
                  <input type="text" class="form-control" id="cityId" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
  
                  
                 
                  
  
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">Mevki Seçiniz</label>
                  <select  id="position" class="form-select">
                    <option selected>...</option>
                    <option>Kaleci</option>
                    <option>Defans</option>
                    <option>OrtaSaha</option>
                    <option>Forvet</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label">Takım</label>
                  <input type="text" class="form-control" id="takım" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
            
                <div class="col-md-8">
                  <label for="inputAdres" class="form-label">Adres</label>
                  <input type="text" class="form-control"  id="adress">
                </div>
                
                  
  
  
                <div class="col-12 "style="margin-left:450px">
                   <!-- <button class="btn btn-primary" type="submit"(click)="userRegister()"> Kaydı Tamamla</button> -->
                  <a class="btn btn-primary" type="submit"(click)="userRegister()"><span></span>
                    <span></span>
                    <span></span>
                    <span></span> Kaydı Tamamla
                   </a>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>