<div class="container-fluid">
    <div class="main-body">
      <div class="row-gutters-sm">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <form class="row g-3 needs-validation" novalidate>
                <a> Eklemek İstediğniz Halısahanın Bilgilerini giriniz</a>
                <div class="col-md-12">
  
  
  
                  <label for="validationCustom01" class="form-label">Halı Sahanın İsmini Giriniz</label>
                  <input type="text" class="form-control" id="fieldName" value="" required>
  
                </div>
                
                <div class="col-md-6">
                  
                  <div class="row g-3 ">
                    
                  <select class="form-select" required id="openHour" style="margin-top: 3rem;" aria-label="Default select example">
                    <option selected>Açılış Saatini Seçiniz</option>
                   
                      <option value="1">01</option>
                      <option value="2">02</option>
                      <option value="3">03</option>
                      <option value="4">04</option>
                      <option value="5">05</option>
                      <option value="6">06</option>
                      <option value="7">07</option>
                      <option value="8">08</option>
                      <option value="9">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="12">13</option>
                      <option value="12">14</option>
                      <option value="12">15</option>
                      <option value="12">16</option>
                      <option value="12">17</option>
                      <option value="12">18</option>
                      <option value="12">19</option>
                      <option value="12">20</option>
                      <option value="12">21</option>
                      <option value="12">22</option>
                      <option value="12">23</option>
                      <option value="12">24</option>
                  </select>
  
                </div>
                </div>
  
                <div class="col-md-6">

                  <div class="row g-3 ">
                    
                    <select class="form-select" required id="closeHour" style="margin-top: 3rem;" aria-label="Default select example">
                      <option selected>Kapanış Saatini Seçiniz</option>
                     
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="12">13</option>
                        <option value="12">14</option>
                        <option value="12">15</option>
                        <option value="12">16</option>
                        <option value="12">17</option>
                        <option value="12">18</option>
                        <option value="12">19</option>
                        <option value="12">20</option>
                        <option value="12">21</option>
                        <option value="12">22</option>
                        <option value="12">23</option>
                        <option value="12">24</option>
                    </select>
    
                  </div>
              
  
                </div>
                <div class="row g-3 ">
                <div class="col-md-6 ">
                  <select class="form-select" required id="closeHour" style="margin-top: 3rem;" aria-label="Default select example">
                    <option selected>Bulunduğu Şehri Seçiniz</option>
                   
                      <option  *ngFor="let city of cities"  id="city" value={{city.citiesId}}>{{ city.cityName }}</option>
                  
                  </select>
  
                </div>
                

                <div class="col-md-6" style="margin-top: 2rem;">
                  <label for="validationCustom01" class="form-label"> Halısahanın Telefon Numarası</label>
                  <input type="" class="form-control" id="phoneNumber" value="" required>
  
                </div>
                </div>
                
                <div class="row g-3 ">
                <div class="col -md-4" >
               
  
                  <select class="form-select" id="numberOfPlayers"  aria-label="Default select example">
                    <option selected>Kaç Kişilik</option>
                   
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                     
                  </select>
  
                
              </div>
                </div>
  
                <div class="row g-3 ">
  
                  <div class="col-md-6">
                    <label for="validationCustom02" class="form-label">Adresi Giriniz</label>
                    <input type="text" class="form-control" id="address" value="" required>
  
                  </div>
  
                 
                  <div class="col-12">
                    <script>
                      var alertPlaceholder = document.getElementById('liveAlertPlaceholder')
                      var alertTrigger = document.getElementById('liveAlertBtn')
    
                      function alert(message, type) {
                        var wrapper = document.createElement('div')
                        wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
    
                        alertPlaceholder.append(wrapper)
                      }
    
                      if (alertTrigger) {
                        alertTrigger.addEventListener('click', function () {
                          alert('Nice, you triggered this alert message!', 'success')
                        })
                      }
                    </script>
    
                    <div id="liveAlertPlaceholder"></div>
                    <button type="button" class="btn btn-primary" style="background-color: green;"
                      id="liveAlertBtn"  (click)="addField()">Gönder</button>
                  </div>
  
                </div>
              
  
  
  
  
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>