<br>
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/images/krampon.jpg" class="w-auto" alt="..." style="margin-left: 150px;">
  </div>
  <div class="col-md-6 p-4 ps-md-0">  
    <h5 class="mt-0"></h5>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            {{inqueries[1].soru}}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>{{inqueries[1].cevap}}</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {{inqueries[2].soru}}
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>{{inqueries[2].cevap}}</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            {{inqueries[3].soru}}
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>{{inqueries[3].cevap}}</strong>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<br>
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/images/abonelik.jpg" class="w-auto" alt="..." style="margin-left: 150px;">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">ABONELİK SİSTEMİ İLE İLGİLİ SORULAR</h5>



    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            {{inqueries[4].soru}}
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">{{inqueries[4].cevap}}</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            {{inqueries[5].soru}}
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">{{inqueries[5].cevap}}</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            {{inqueries[6].soru}}
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">{{inqueries[6].cevap}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
<br>
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/images/cezali.jpg" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">

    <h5 class="mt-0">CEZALI LİSTESİ İLE İLGİLİ SORULAR</h5>


    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
            aria-expanded="true" aria-controls="collapseFour">
            {{inqueries[7].soru}}
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>{{inqueries[7].cevap}}</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingBes">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseBes" aria-expanded="false" aria-controls="collapseBes">
            {{inqueries[8].soru}}
          </button>
        </h2>
        <div id="collapseBes" class="accordion-collapse collapse" aria-labelledby="headingBes"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>{{inqueries[8].cevap}}</strong>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingAlti">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseAlti" aria-expanded="false" aria-controls="collapseAlti">
            {{inqueries[9].soru}}
          </button>
        </h2>
        <div id="collapseAlti" class="accordion-collapse collapse" aria-labelledby="headingAlti"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>{{inqueries[9].cevap}}</strong>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<br>
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/images/turnuva.jpg" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">TURNUVA SİSTEMİ İLE İLGİLİ SORULAR</h5>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingDort">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseDort" aria-expanded="false" aria-controls="flush-collapseDort">
            {{inqueries[10].soru}}
          </button>
        </h2>
        <div id="flush-collapseDort" class="accordion-collapse collapse" aria-labelledby="flush-headingDort"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">{{inqueries[10].cevap}}</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingBes">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseBes" aria-expanded="false" aria-controls="flush-collapseBes">
            {{inqueries[11].soru}}
          </button>
        </h2>
        <div id="flush-collapseBes" class="accordion-collapse collapse" aria-labelledby="flush-headingBes"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">{{inqueries[11].cevap}}</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingAlti">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseAlti" aria-expanded="false" aria-controls="flush-collapseAlti">
            {{inqueries[12].soru}}
          </button>
        </h2>
        <div id="flush-collapseAlti" class="accordion-collapse collapse" aria-labelledby="flush-headingAlti"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">{{inqueries[12].cevap}} </div>
        </div>
      </div>
    </div>

  </div>
</div>

<br>
<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="assets/images/bizesorun.png" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <label for="sorumail21" class="form-label">Email </label>
    <input type="emailasd" class="form-control" id="sorumail" placeholder="name@example.com">
    <br>
    <label for="sorusoru21" class="form-label">SORUNUZ</label>

    <textarea class="form-control" id="sorusoru1" rows="3"></textarea>

  <br>


    <div id="liveAlertPlaceholder"></div>

    <button type="button" class="btn btn-primary" id="liveAlertBtn" (click)="addQuestion()">

      GÖNDER</button>
      


  </div>
</div>