<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script><body>


    <div class="container-fluid">
      <div class="main-body">
        <div class="row-gutters-sm">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                    <div class="row">
                      <div class="card-header" style="font: bold; font-size: 2rem">
                        Maçlardan Görüntüler
                      </div>

                <div *ngFor="let resim of resims" class="col-md-4" >
                     <img src="https://localhost:44318/uploads/{{ resim.imagePath }} " class="figure-img img-fluid rounded" >
                  </div>


              </div>
            </div>
        </div>
      
            </div>
          </div>
        </div>
      </div>
    </div>
</body>