<script async src='/cdn-cgi/bm/cv/669835187/api.js'></script><body>


    <div class="container-fluid">
      <div class="main-body">
        <div class="row-gutters-sm">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="form-group">
                    <div class="row">
                      <div class="card-header" style="font: bold; font-size: 2rem">
                        Maçlardan Görüntüler
                      </div>

                <div *ngFor="let resim of resims" class="col-md-4" >
                     <img src="https://localhost:44318/uploads/{{ resim.imagePath }} " class="figure-img img-fluid rounded" >
                  </div>


              </div>
            </div>
        </div>
      
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">(function(){window['__CF$cv$params']={r:'6db595eacabd92cc',m:'bVW.LRNlv9A8HDAWzei_thsRBDvIW_iPJcQG4soWSww-1644498710-0-AYYWsoHOQOvz1HTs5gLsdCGrGguqSnKTbmeh6Pu3t3MbkvKbD16Xntjql4oKzTM1azjAsVDIQq6ECUFyTBC5GtGDDv7aKz7oWXme/HwUmFURluVRCZFoK2RHPGACgZSJhYcFyxfozSvUF8pcT0XaakugAu2U0/2/U4ZEaXDyx9hNi3quU1zU4GecfsIWXnqmz9bZaRPAahf3vkYrzNaGveQ=',s:[0xa8f65dc841,0x8a2a9d5f18],}})();</script></body>