<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="main-body">
        <!-- <style type="text/css">
          .main-body {
          width: 20%;
    
          position: fixed;
          color: black;
    
          z-index: 2;
          }
       </style>    -->
        <div class="row-gutter-sm">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="mb-3">
                  <label style="font-weight: 900">Halısaha Filtreleme</label>
                  <hr />
                  <label style="font-weight: 700">Arama İfadesi</label>
                  <input
                    type="text"
                    [(ngModel)]="filterText"
                    class="form-control"
                    id="filterText"
                    placeholder="Halısaha ismi"
                  />
                  <div *ngIf="filterText" class="alert alert-success">
                    {{ filterText }} aradınız
                  </div>
                  <button class="btn-success" id="btn-search">Ara</button>
                </div>
                <div class="form-group">
                  <label style="font-weight: 700">Şehir</label>
                  
                </div>
                <br />
                <hr />
                <label style="font-weight: 900">Takım Filtreleme</label>
                <hr />
                <label style="font-weight: 700">Takım Adı</label>
                <input
                  type="text"
                  [(ngModel)]="filterText2"
                  class="form-control"
                  id="filterText2"
                  placeholder="Halısaha ismi"
                />
                <div *ngIf="filterText2" class="alert alert-success">
                  {{ filterText2 }} aradınız
                </div>
                <button class="btn-success" id="btn-search">Ara</button>
                <br />
                <br />

                <div class="form-group">
                  <label style="font-weight: 700">Ligler</label>
                  <select
                    multiple
                    class="form-control"
                    id="exampleFormControlSelect3"
                  >
                    <option value="0">------</option>
                    <option value="1">Şampyonlar Ligi</option>
                    <option value="2">Altın Ligi</option>
                    <option value="3">Çaylaklar Ligi</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
